/* Background Image on Top */
.image-container {
  background-image: url("../images/background-pattern-mobile.svg");
  height: 200px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .image-container {
    background-image: url("../images/background-pattern-desktop.svg");
    height: 200px;
    background-size: cover;
    background-position: center;
  }
}
