/* Background Image on Top */
.image-container {
  background-image: url("../images/background-pattern-mobile.svg");
  height: 30vh;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center bottom;
  position: absolute;
}
@media screen and (min-width: 650px) {
  .image-container {
    background-image: url("../images/background-pattern-desktop.svg");
    height: 45vh;
  }
}
/* Root and Variables */
:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}
/* Body */
body {
  background-color: var(--light-pink);
  font-family: "Work Sans", sans-serif;
}
/* Main */
.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/* Attribution */
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
/* Accordion */
.accordion-container {
  /* margin-top: 100px; */
  box-sizing: border-box;
  overflow-y: auto;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 15%;
  grid-auto-rows: auto;
  z-index: 1;
  gap: 10px;
  align-items: center;

  background-color: var(--white);

  border-radius: 10px;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5),
    5px 0 5px -5px rgba(0, 0, 0, 0.5), 0 10px 15px rgba(0, 0, 0, 0.3);
  width: clamp(240px, 80%, 450px);
  height: clamp(190px, 50%, 800px);
  padding: 30px;
}
.accordion-title {
  grid-column: span 1;
  margin: 0;
  font-weight: 700;
  color: var(--dark-purple);
}
.accordion-details {
  grid-column: span 2;
}
.accordion-details-question {
  font-weight: 600;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-details-answer {
  font-weight: 400;
  color: var(--grayish-purple);
}
.accordion-details-question::after {
  content: url(../images/icon-plus.svg);
}
.accordion-details[open] .accordion-details-question::after {
  content: url(../images/icon-minus.svg);
}
